:host {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}

:root {
  --md-sys-color-surface-container-high: #e3e9e9;
  --md-sys-color-primary: #006a6a;
  --md-fab-container-shape: 0px;
  --md-fab-icon-size: 36px;
  background-color: #f4fbfa;
}


.mylist {
  max-width: 1200px;
  border: 2px solid black;
}

.title {
  text-align: center;
  align-items: center;
  font-size: 20px;
  padding: 10px;
}

.button-add {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 10px;
}
